/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* GENERAL */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: #222;
}
/* 
definition du p en rem pour le responsive */
p {
  font-size: 1rem;
}

/* BARRE DE NAVIGATION */
/* 
definition du padding en em pour le responsive */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding-bottom: 2em;
  padding-top: 2em;
}

h1 {
  display: inline;
  color:black;
  font-size: 5rem;
}


/* 
definition du margin en em pour le responsive */

.navgauche {
  margin-left: 2em;
}
.navdroite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 6em;
  font-weight: bold;
}

.navdroite ul {
  display: flex;
}
/* 
definition du margin en em pour le responsive */
.navdroite ul li {
  margin-left: 5em;
}

.navdroite ul li a {
  color: black;
}
.navdroite ul li a:hover {
  color: orange;
}

/* BARRE DE NAVIGATION RESPONSIVE*/
@media screen and (max-width: 380px) {
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 380px) {
  .navgauche {
    width: 80%;
    justify-content: flex-end;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 380px) {
  .navdroite {
    width: 80%;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 4em;
    margin-left: 4em;
  }
}
@media screen and (max-width: 380px) {
  .navdroite p {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 380px) {
  .navdroite ul {
    justify-content: flex-end;
    margin-left: 4em;
    width: 60%;
    font-size: 0.8rem;
  }
}
/* IMAGE DU CENTRE */

.imgcentre {
background-image: url("lounawebsite/imgcentre.jpg");
height: 400px;
position: fixed;

}

/* VITRINE */

.vitrine {
  background-color: #f5f5f5;
  width: 70%;
  margin: 0 auto;
}

.card12 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.card34 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* PREMIERE CARTE  */
/* 
definition du margin en em pour le responsive */
.card1 {
  width: 30%;
  margin: 1em 0;
}

/* effects */
.card1 figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card1 figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

figure {
	width: 100%;
	height: 466px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.card1l1 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card1l1 p:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}

.card1l1 p:nth-child(2) {
  color: orange;
  font-weight: bold;
  background-color: #222;
  border: solid #222;
  border-radius: 5px;
  padding: 0.5em 0.5em;
}

.card1l2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.card1l2 p:nth-child(1) {
  color: white;
  background-color: #222;
  border: solid 1px #222;
  padding: 0.5em 0.5em;
}
.card1l2 p:nth-child(2) {
  color: #222;
  font-weight: bold;
  text-decoration: line-through;
}
.card1l2 p:nth-child(3) {
  color: orange;
  font-weight: bold;
}

/* CARTE 2 */
.card2 {
  width: 30%;
  margin: 1em 0;
}
/* effects */
.card2 figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card2 figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.card2l1 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card2l1 p:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}

.card2l1 p:nth-child(2) {
  color: orange;
  font-weight: bold;
  background-color: #222;
  border: solid 1px #222;
  border-radius: 5px;
  padding: 0.5em 0.5em;
}

.card2l2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.card2l2 p:nth-child(1) {
  color: white;
  background-color: #222;
  border: solid 1px #222;
  padding: 0.5em 0.5em;
}
.card2l2 p:nth-child(2) {
  color: #222;
  font-weight: bold;
  text-decoration: line-through;
}
.card2l2 p:nth-child(3) {
  color: orange;
  font-weight: bold;
}

/* TROISIEME CARTE */

.card3 {
  width: 30%;
  margin: 1em 0;
}

/* effects */
.card3 figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card3 figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
} 
.card3l1 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card3l1 p:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}

.card3l1 p:nth-child(2) {
  color: orange;
  font-weight: bold;
  background-color: #222;
  border: solid 1px #222;
  border-radius: 5px;
  padding: 0.5em 0.5em;
}

.card3l2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.card3l2 p:nth-child(1) {
  color: white;
  background-color: #222;
  border: solid 1px #222;
  padding: 0.5em 0.5em;
}
.card3l2 p:nth-child(2) {
  color: #222;
  font-weight: bold;
  text-decoration: line-through;
}
.card3l2 p:nth-child(3) {
  color: orange;
  font-weight: bold;
}

/* QUATRIEME CARTE */

.card4 {
  width: 30%;
  margin: 1em 0;
}
/* effects */
.card4 figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card4 figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}
.card4l1 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card4l1 p:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}

.card4l1 p:nth-child(2) {
  color: orange;
  font-weight: bold;
  background-color: #222;
  border: solid 1px #222;
  border-radius: 5px;
  padding: 0.5em 0.5em;
}

.card4l2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.card4l2 p:nth-child(1) {
  color: white;
  background-color: #222;
  border: solid 1px #222;
  padding: 0.5em 0.5em;
}
.card4l2 p:nth-child(2) {
  color: #222;
  font-weight: bold;
  text-decoration: line-through;
}
.card4l2 p:nth-child(3) {
  color: orange;
  font-weight: bold;
}
/* VITRINE RESPONSIVE */

@media screen and (max-width: 812px) {
  .vitrine {
    margin: 0 auto;
  }
}

@media screen and (max-width: 812px) {
  .card12 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (max-width: 812px) {
  .card34 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 812px) {
  .card1 {
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 812px) {
  .card2 {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 812px) {
  .card3 {
    width: 100%;
  }
}
@media screen and (max-width: 812px) {
  .card4 {
    padding: 0;
    width: 100%;
  }
}
/* PRE FOOTER */

.boitecontact {
  background-color: #aaa;
  border: solid #aaa;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0em;
  padding: 1em 1em;
  position: relative;
  top: -0.5em;
}

.boitecontact li {
  padding-left: 1em;
}

.boitecontact li a:hover {
 color:orange;
}


/* BOITE DE CONTACT RESPONSIVE */
@media screen and (max-width: 812px) {
  .boitecontact {
    margin-left: 4em;
    background-color: #aaa;
    width: 80%;
    justify-content: center;
    font-size: 0.7rem;
  }
}
/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  border-bottom: solid 1px #f5f5f5;
}
.ligne1footer {
  display: flex;
  justify-content: space-around;
}
.ligne2footer {
  display: flex;
  justify-content: space-around;
}
.footer1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 20%;
  margin-bottom: 2em;
}

.footer1 img {
  width: 30%;
  margin: 1em auto;
}

.footer2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 20%;
}

.footer2 img {
  width: 30%;
  margin: 1em auto;
}
.footer3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 20%;
}

.footer3 img {
  width: 30%;
  margin: 1em auto;
}
.footer4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 20%;
}

.footer4 img {
  width: 30%;
  margin: 1em auto;
}

/* FOOTER RESPONSIVE */

@media screen and (max-width: 380px) {
  footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 380px) {
  .footer1 img {
    width: 80%;
  }
}
@media screen and (max-width: 380px) {
  .footer2 img {
    width: 80%;
  }
}
@media screen and (max-width: 380px) {
  .footer3 img {
    width: 80%;
  }
}
@media screen and (max-width: 380px) {
  .footer4 img {
    width: 80%;
  }
}

/* RESEAUX SOCIAUX  */

.reseauxsociaux {
  display: flex;
  justify-content: center;
}

.reseauxsociaux img {
  margin: 2em 2em;
}

/* DERNIERE LIGNE */

.lastline {
  color: white;
  text-align: center;
  padding-bottom: 2em;
}
@media screen and (max-width: 380px) {
  footer.lastline {
    font-size: 0.8rem;
  }
}

